<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's My Steam ID?</title>
    <link rel="canonical" href="@Request.Url.AbsoluteUri" />
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <div class="footer">
            <footer>
                <small class="text-muted">This page is offered to the community for reference only. This page is not affiliated or associated with Valve or Steam in any manner.</small>
                <br />
                <small class="text-muted">See the source code on <a href="https://github.com/babelshift/WhatsMySteamID">GitHub</a>. Visit my <a href="http://www.discussiongenerator.com">blog</a>.</small>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>