@model WhatsMySteamId.Models.HomeIndexViewModel

@{
    ViewBag.Title = "What's My Steam ID?";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Enter Your Steam Community URL, Profile Name, or 64-bit Steam ID
                </h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("")
                    <div class="form-group" style="margin-bottom: 0">
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.SearchString, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <small class="help-block">
                            If your Steam Community Profile URL is:
                            <br />
                            <code>http://steamcommunity.com/id/{name}/</code> then enter <code>{name}</code>.
                            <br />
                            <code>http://steamcommunity.com/profiles/{big_number}/</code> then enter <code>{big_number}</code>.
                        </small>
                        <small class="help-block">
                            You can also just enter the entire URL.
                        </small>
                    </div>
                }
            </div>
        </div>
        @if (Model.IsValidSteamAccount)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-star"></i>
                        Your Steam ID Results
                    </h4>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal" style="margin-bottom: 0">
                        <dt>Resolved By:</dt>
                        <dd>@Model.ResolvedBy</dd>
                        <dt>Community URL:</dt>
                        <dd><a href="@Model.CommunityProfileUrl">@Model.CommunityProfileUrl</a></dd>
                        <dt>64-bit Steam ID:</dt>
                        <dd>@Model.SteamId64</dd>
                        <dt>Legacy Steam ID:</dt>
                        <dd>@Model.LegacySteamId</dd>
                        <dt>Modern Steam ID:</dt>
                        <dd>@Model.ModernSteamId</dd>
                        <dt>Universe:</dt>
                        <dd>@Model.Universe</dd>
                        <dt>Account Type:</dt>
                        <dd>@Model.AccountType</dd>
                        <dt>Instance:</dt>
                        <dd>@Model.Instance</dd>
                        <dt>32-bit Account ID:</dt>
                        <dd>@Model.AccountId</dd>
                    </dl>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    Understanding Your Steam ID
                </h4>
            </div>
            <div class="panel-body">
                <h4>The components of a Steam ID</h4>
                <dl class="dl-horizontal">
                    <dt>Universe:</dt>
                    <dd>Indicates the top level Steam system for the account. See the Universes table.</dd>
                    <dt>Account Type:</dt>
                    <dd>Indicates exactly what it says, the type of the account. See the Account Types table.</dd>
                    <dt>Instance:</dt>
                    <dd>A big unknown, but is usually "1" for accounts with "Individual" Account Type and "0" for Groups.</dd>
                    <dt>Account ID:</dt>
                    <dd>32-bit unique identifier for the Steam account. Sometimes incorrectly referred to as the "32-bit Steam ID".</dd>
                </dl>
                <h4>Representations of a Steam ID</h4>
                <dl class="dl-horizontal" style="margin-bottom: 0">
                    <dt>Legacy Text:</dt>
                    <dd>
                        Exists in the form of <code>STEAM_I:J:K</code> where:
                        <ul>
                            <li><code>I = Universe</code></li>
                            <li><code>J = Lowest bit of Account ID (0 or 1)</code></li>
                            <li><code>K = Highest 31 bits of Account ID</code></li>
                        </ul>
                    </dd>
                    <dt>Modern Text:</dt>
                    <dd>
                        Exists in the form of <code>[C:U:A:I]</code> where:
                        <ul>
                            <li><code>C = Character representation of Account Type</code></li>
                            <li><code>U = Universe</code></li>
                            <li><code>A = Account ID</code></li>
                            <li><code>I = Instance</code></li>
                        </ul>
                    </dd>
                    <dt>64-bit Integer:</dt>
                    <dd>
                        <p>
                            A bit more complicated, but you'll see this on the Steam Community and in the Steam Web APIs.
                            This value is generated as a function of the 4 components described above using bit shifting and bit arithmetic.
                            The function is:
                        </p>
                        <code>((Universe << 56) | (Account Type << 52) | (Instance << 32) | Account ID)</code>
                    </dd>
                </dl>
                <h4>Converting between Representations</h4>
                <p><strong>64-bit Steam ID <i class="glyphicon glyphicon-arrow-right"></i> Components</strong></p>
<pre>
Given 64-bit Steam ID: <strong>76561197960361544</strong>    
---
Binary = 100010000000000000000000100000000000000010111011001001000
         ^^  ^^                  ^^                              ^
         ||__||__________________||______________________________|
         U AT       INSTANCE              32-BIT ACCOUNT ID
---
Account ID = Low 32 bits of 64-bit Steam ID
Account ID = 76561197960361544 &amp; ((1 << 32) - 1)
<strong>Account ID = 95816</strong>
---
Instance = Next 20 bits of 64-bit Steam ID
Instance = (76561197960361544 >> 32) &amp; ((1 << 20) - 1)
<strong>Instance = 1</strong>
---
Account Type = Next 4 bits of 64-bit Steam ID
Account Type = (76561197960361544 >> 52) &amp; ((1 << 4) - 1)
<strong>Account Type = 1</strong>
---
Universe = Remaining (max of 8) bits of 64-bit Steam ID
Universe = (76561197960361544 >> 56) &amp; ((1 << 8) - 1)
<strong>Universe = 1</strong>
</pre>
                <p><strong>64-bit Steam ID <i class="glyphicon glyphicon-arrow-right"></i> Legacy Text</strong></p>
                Using the results of the 64-bit Steam ID to Components conversion, we can obtain the Legacy Text.
<pre>
Legacy Text = STEAM_I:J:K = <strong>STEAM_1:0:47908</strong>
I = Universe = 1
J = Lowest bit of Account ID = Account ID &amp; 1 = 0
K = Highest 31 bits of Account ID = (Account ID >> 1) &amp; ((1 << 31) - 1) = 47908
</pre>
                <p><strong>64-bit Steam ID <i class="glyphicon glyphicon-arrow-right"></i> Modern Text</strong></p>
                Using the results of the 64-bit Steam ID to Components conversion, we can obtain the Modern Text.
<pre>
Legacy Text = [C:U:A:I] = <strong>[U:1:95816:1]</strong>
C = Account Type character (use lookup table on this page)
U = Universe
A = Account ID
I = Instance
</pre>
                <p><strong>Components <i class="glyphicon glyphicon-arrow-right"></i> 64-bit Steam ID</strong></p>
<pre>
Given Components: 
Universe = <strong>1</strong>    
Account Type = <strong>1</strong>    
Instance = <strong>1</strong>    
Account ID = <strong>95816</strong>
---
64-bit Steam ID = ((Universe << 56) | (Account Type << 52) | (Instance << 32) | Account ID)
64-bit Steam ID = ((1 << 56) | (1 << 52) | (1 << 32) | 95816)
64-bit Steam ID = <strong>76561197960361544</strong>
</pre>
                <p><strong>32-bit Account ID <i class="glyphicon glyphicon-arrow-right"></i> Estimated 64-bit Steam ID</strong></p>
                <p>
                    Dota 2 (and probably other games) only identify a Steam account by its 32-bit Account ID. This is often incorrectly called the user's
                    "32-bit Steam ID". There is actually no such thing as a 32-bit representation of a Steam ID. In fact, it's only 32 bits of the full
                    64-bit Steam ID!
                </p>
                <p>
                    So the only type of "conversion" that can occur between the 32-bit Account ID and the 64-bit Steam ID is an estimation by assuming values
                    for the other missing components.
                </p>
                <p><strong>Note that this will not work if the Steam account has components other than U = 1, AT = 1, and I = 1.</strong></p>
<pre>
Given 32-bit Account ID: <strong>95816</strong>
Assume Universe = 1 (or 00000001 in binary)
Assume Account Type = 1 (or 0001 in binary)
Assume Instance = 1 or (or 00000000000000000001 in binary)
---
Bitwise OR against the assumed binary values from above.
64-bit Steam ID = Account ID | 00000001000100000000000000000001
64-bit Steam ID = <strong>76561197960361544</strong>
</pre>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Steam Universes
                </h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>Invalid</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Public</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Beta</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Internal</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Dev</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Steam Account Types
                </h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Character</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>I</td>
                        <td>Invalid</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>U</td>
                        <td>Individual</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>M</td>
                        <td>Multiseat</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>G</td>
                        <td>GameServer</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>A</td>
                        <td>AnonGameServer</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>P</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>C</td>
                        <td>ContentServer</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>g</td>
                        <td>Clan</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>T</td>
                        <td>Chat</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>c</td>
                        <td>Chat (Clan)</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>L</td>
                        <td>Chat (Lobby)</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><i class="glyphicon glyphicon-minus"></i></td>
                        <td>P2P SuperSeeder</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>a</td>
                        <td>AnonUser</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}